@media(min-width:992px){
    .icon-border .icon{
        font-size: 75px;
    }
    
    .icon-border{
        width: 95px;
        height: 95px;
    }
}

@media(min-width:992px){
    .dash{
        margin-bottom: 25px;
    }
}

/* card media */

@media(min-width:576px) and (max-width:767px){
    .card{
        width: 600px;
    }
}

@media(min-width:1800px){
    .card{
        margin-right: 15%;
    }
}

/* end card media */
/* footer icons */
@media(min-width:768px){
.footer .icon{
    font-size: 30px;
}
}

/* end footer icons */
/* bot-nav media*/

@media(max-width:768px){
    .bot-nav{
        justify-content: space-around;
    }
}

@media(min-width:768px){
    .bot-nav{
        padding: 8px;
    }
}
/* end bot-nav media */