/* card media */

@media(min-width:576px) and (max-width:767px){
    .card{
        width: 600px;
    }
}

/* end card media */
/* footer icons */
@media(min-width:768px){
.footer .icon{
    font-size: 30px;
}
}

/* end footer icons */
/* bot-nav media*/

@media(max-width:768px){
    .bot-nav{
        justify-content: space-around;
    }
}

@media(min-width:768px){
    .bot-nav{
        padding: 8px;
    }
}
/* end bot-nav media */