:root{
    --primary: #a0c63f;
}

.clear{
    clear: both;
}

.graphics,.advert,.port{
    color: var(--primary);
}

/* icons */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-recycle {
    width: 1.001953125em;
}

.icon-users{
      width: 1.125em;
}

.icon-bookmark{
    color: var(--primary);
}

.footer .icon{
    color: lightgrey;
}

/* end icons */
/* header */
  
.umbrella-img{
      padding: 0;
      margin-bottom: 25px;
}

.logo-title{
    color: darkgreen;
    font-size: calc(32px + (50 - 32) * ((100vw - 300px) / (1600 - 300)));
}

.top-nav-item{
    text-transform: uppercase;
      color: black;
      padding-top: 35px;
      margin-bottom: 10px;
}
/* end header */
/* main */
/* section1 carousel */
.carousel-item{
      background-color: var(--primary);
      position: relative;
}

.carousel-content{
      position: absolute;
      top: 15%;
      right: 15%;
      width: 30%;
}

.carousel-text{
    font-size: calc(12px + (26 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.carousel-img{
      margin-left: 10%;
}

/* end section1 carousel */
/* section2 */

.section2-header{
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(13px + (33 - 13) * ((100vw - 300px) / (1600 - 300)));
    border-bottom: 1px dashed lightgrey;
}

.elegant{
    color: var(--primary);
    font-weight: 600;
}

.icon-border .icon{
    margin: 0 auto;
    font-size: 50px;
    padding: 10px;
    color: white;
    background-color: var(--primary);
    border-radius: 50%;
}

.icon-border{
    margin: 0 auto;
    margin-top: 25px;
    width: 70px;
    height: 70px;
    padding: 9px;
    border: 1px solid lightgrey;
    border-radius: 50%;
}

.section2-text1{
    margin-bottom: 3px;
    font-size: calc(14px + (35 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
}

.section2-text2{
    font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
}

/* end section2 */
/* section3 */

.dash{
    border-bottom: 2px dashed lightgrey;
    padding: 0;
    margin-bottom: 17px;
}

.section3-header{
    font-size: calc(16px + (40 - 16) * ((100vw - 300px) / (1600 - 300)));
    padding: 0;
}
/* cards */
.card{
      margin: 0 auto;
      margin-bottom: 25px;
}

.card-img{
    padding: 0;
}

/* end section3 */
/* section4 */

.ad-img{
    margin: 0;
    padding: 0;
}

.back-top-div{
    width: 35px;
    height: 35px;
    margin: 20px 0;
    background-color: var(--primary);
    border-radius: 50%;
}

.back-top{
    font-size: 25px;
    color: white;
}

/* end section4 */
/* footer  */
/* section1-footer */

.footer-content{
    margin-bottom: 20px;
}

.footer-title{
    font-size: calc(18px + (36 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.heavy-text{
    font-weight: 600;
}

.date-list{
    list-style-type: none;
    padding: 0;
}

.date-list-item{
    margin: 20px 0;
    border-bottom: 1px dotted grey;
}

.contact-item .icon{
    margin-right: 10px;
}

.contact-item{
    margin: 30px 0;
}

.form-btn{
    border-radius: 0;
}

/* end section1-footer */
/* section2-footer */

.section2-footer{
    background-color: black;
    font-size: 12px;
}

.bot-nav{
    margin: 0;
    padding: 0;
}

.bot-nav-item,.colophon{
    color: white;
}

.colophon{
    padding: 8px;
}
/* end section2-footer */
/* end footer */
/* fin */